
<html>
    <body>
        <h3>Sales Prediction Form (for january 2015)</h3>
     
    <div>
      <form action="/predict" method="POST">
        <label for="item_id">Choose item's id:</label>
        <select id="item_id" name="item_id">
          <option value="33">33</option>
          <option value="806">806</option>
          <option value="1293">1293</option>
          <option value="1332">1332</option>
          <option value="1583">1583</option>
          <option value="1464">1464</option>
          <option value="9554">9554</option>
          <option value="10201">10201</option>
        </select>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
    </body>
    </html>